.PresetGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.Question {
  padding: 0.3em;
  margin: 0.3em;
}

/* flex-basis: 0; */
